*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html, body{
    background-color: rgb(155, 199, 201);
}
.title{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

button{
    padding: 5px 10px;
    border-radius: 10px;
    border-style: none;
    width: 25%;
}
.carta{
    width: 25%;
    position: relative;
    left: 100px;
    margin-left: -75px;
}
#jugador-cartas, #computer-cartas{
    height: 45%;
}